/BouncyLayout.xcodeproj/xcuserdata
/BouncyLayout.xcodeproj/project.xcworkspace/xcuserdata
/Build
/Example/BouncyLayout.xcodeproj/xcuserdata
/Example/BouncyLayout.xcodeproj/project.xcworkspace/xcuserdata
/Example/Build
.swiftpm
